@import "../../../custom.scss";

.sidebar {

  height: 100%;

  @media screen and (max-width: 768px) {
    min-height: 250px;
  }

  @media screen and (min-width: 768px) {
    min-height: 550px;
  }
  overflow: hidden;
  background-color: $primary-dark;
  min-width: 11rem;
  color: white;

  &__logo {
    height: auto;
  }
}
